FC Engine/src/FC.Engine.Infrastructure/Xml/Schemas/MFCR300.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:cbn:dfis:fc:mfcr300"
           xmlns:tns="urn:cbn:dfis:fc:mfcr300"
           elementFormDefault="qualified">

  <xs:element name="MFCR300">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType"/>
        <xs:element name="FinancialPosition" type="tns:FinancialPositionType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="HeaderType">
    <xs:sequence>
      <xs:element name="InstitutionCode" type="xs:string"/>
      <xs:element name="ReportingDate" type="xs:date"/>
      <xs:element name="ReturnCode" type="xs:string" fixed="MFCR300"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FinancialPositionType">
    <xs:sequence>
      <!-- Cash -->
      <xs:element name="CashNotes" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="CashCoins" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="TotalCash" type="tns:MoneyType" minOccurs="0"/>
      <!-- Due From Banks Nigeria -->
      <xs:element name="DueFromBanksNigeria" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="UnclearedEffects" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="DueFromOtherFi" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="TotalDueFromBanksNigeria" type="tns:MoneyType" minOccurs="0"/>
      <!-- Due From Banks Outside -->
      <xs:element name="DueFromBanksOecd" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="DueFromBanksNonOecd" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="TotalDueFromBanksOutside" type="tns:MoneyType" minOccurs="0"/>
      <!-- Money at Call -->
      <xs:element name="MoneyAtCallSecured" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="MoneyAtCallUnsecured" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="TotalMoneyAtCall" type="tns:MoneyType" minOccurs="0"/>
      <!-- Bank Placements -->
      <xs:element name="PlacementsSecuredBanks" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="PlacementsUnsecuredBanks" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="PlacementsDiscountHouses" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="TotalBankPlacements" type="tns:MoneyType" minOccurs="0"/>
      <!-- Derivative Financial Assets -->
      <xs:element name="DerivativeFinancialAssets" type="tns:MoneyType" minOccurs="0"/>
      <!-- Securities -->
      <xs:element name="TreasuryBills" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="FgnBonds" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="StateGovtBonds" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="LocalGovtBonds" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="CorporateBonds" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="OtherBonds" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="TreasuryCertificates" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="CbnRegisteredCertificates" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="CertificatesOfDeposit" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="CommercialPapers" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="TotalSecurities" type="tns:MoneyType" minOccurs="0"/>
      <!-- Loans and Receivables -->
      <xs:element name="LoansToFiNigeria" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="LoansToSubsidiaryNigeria" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="LoansToSubsidiaryOutside" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="LoansToAssociateNigeria" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="LoansToAssociateOutside" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="LoansToOtherEntitiesOutside" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="LoansToGovernment" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="LoansToOtherCustomers" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="TotalGrossLoans" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="ImpairmentOnLoans" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="TotalNetLoans" type="tns:MoneyType" minOccurs="0"/>
      <!-- Other Investments -->
      <xs:element name="OtherInvestmentsQuoted" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="OtherInvestmentsUnquoted" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="InvestmentsInSubsidiaries" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="InvestmentsInAssociates" type="tns:MoneyType" minOccurs="0"/>
      <!-- Other Assets -->
      <xs:element name="OtherAssets" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="IntangibleAssets" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="NonCurrentAssetsHeldForSale" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="PropertyPlantEquipment" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="TotalAssets" type="tns:MoneyType" minOccurs="0"/>
      <!-- Liabilities: Borrowings -->
      <xs:element name="BorrowingsFromBanks" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="BorrowingsFromOtherFc" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="BorrowingsFromOtherFi" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="BorrowingsFromIndividuals" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="TotalBorrowings" type="tns:MoneyType" minOccurs="0"/>
      <!-- Other Liabilities -->
      <xs:element name="DerivativeFinancialLiabilities" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="OtherLiabilities" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="TotalLiabilities" type="tns:MoneyType" minOccurs="0"/>
      <!-- Equity -->
      <xs:element name="PaidUpCapital" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="SharePremium" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="RetainedEarnings" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="StatutoryReserve" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="OtherReserves" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="RevaluationReserve" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="MinorityInterest" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="TotalEquity" type="tns:MoneyType" minOccurs="0"/>
      <xs:element name="TotalLiabilitiesAndEquity" type="tns:MoneyType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="MoneyType">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2"/>
      <xs:totalDigits value="20"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
